services:
  db:
    image: mysql:8.0
    container_name: planarc_db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Asia/Tokyo
    # ports:
      # - "3310:3306"

  server:
    build:
      context: ./server
    volumes:
      - ./server:/app
    ports:
      - "8080:8080"
    container_name: planarc_server
    depends_on:
      - db
    environment:
      AIR_WATCHER: polling
  app:
    build: 
      context: ./app
    volumes:
      - ./app:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - server