services:
  db:
    image: mysql:8.0
    container_name: planarc_db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_HOST: ${MYSQL_ROOT_HOST}
      TZ: Asia/Tokyo
    # ports:
    #   - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--protocol=TCP", "--default-auth=caching_sha2_password"]
      interval: 5s
      timeout: 5s
      retries: 10

  server:
    build:
      context: ./server
    volumes:
      - ./server:/app
    ports:
      - "8080:8080"
    container_name: planarc_server
    depends_on:
      db:
        condition: service_healthy
    environment:
      AIR_WATCHER: polling
  app:
    build: 
      context: ./app
    volumes:
      - ./app:/app
      - /app/node_modules
    ports:
      - "4173:4173"
    depends_on:
      - server

volumes:
  db_data: