.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    border-radius: 32px;
}
.btn:hover {
    background-color: #0056b3;
}

input[type="text"], input[type="password"] {
    width: 80vw;
    padding: 10px;
    font-size: 16px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alert {
    color: red;
    margin-top: 10px;
}