.btn {
    background-color: #49A2E0;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    width: 270px;
    height: 70px;
    border-radius: 16px;
}
.btn:hover {
    background-color: #0056b3;
}

input[type="text"], input[type="password"] {
    width: 280px;
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    margin: 4px 0;
    border: 1px solid #E2E8F8;
    border-radius: 4px;
    /*color: #AEB7BD;*/
}
.selectbox {
    width: 300px;
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    margin: 4px 0;
    border: 1px solid #E2E8F8;
    border-radius: 4px;
}

.alert {
    color: red;
    margin-top: 10px;
}

#main {
    margin: 4px;
    margin-top: 120px;
}

body {
    background-color: #FAFAFA;
}